<div class="mt-40 mb-10 container mx-auto">
<h1 class="flex justify-center text-2xl text-orange-500 font-bold">My Appointments</h1>
<div>Your link(not clickable) is<p class="text-orange-500 font-bold"><%= "https://#{request.host}/#{current_user.name.parameterize}-peoplebox/#{current_user.appointment_duration}min" %></p></div>
<p class="px-4 py-2">
Define appointment duration, click on duration button, select a time and create an appointment...
<%= form_with(url: appointment_duration_path) do |form| %>
  <%= form.select :duration, options_for_select(Appointment::OPTIONS) %>
  <%= form.submit "Duration", class: 'py-3 w-1/12 bg-orange-500 text-white hover:bg-orange-600 cursor-pointer'%>
<% end %>
</p>
<table>
  <thead>
    <tr>
      <th class="px-4 py-2">Start Time</th>
      <th class="px-4 py-2">End Time</th>
      <th class="px-4 py-2">Duration</th>
      <th class="px-4 py-2">Location</th>
      <th class="px-4 py-2"></th>
    </tr>
  </thead>
  <tbody>
    <% @appointments.each do |appointment| %>
      <tr class="hover:bg-gray-100">
        <td class="px-4 py-2"><%= appointment.start_time.strftime("%m/%d/%Y%I:%M %p") %></td>
        <td class="px-4 py-2"><%= appointment.end_time.strftime("%m/%d/%Y%I:%M %p") %></td>
        <td class="px-4 py-2"><%= appointment.duration %> minutes</td>
        <td class="px-4 py-2"><%= appointment.location %></td>
        <td class="flex gap-x-2 py-2 text-orange-500">
          <%= link_to "Show", appointment%>
          <%= button_to "Delete", appointment, method: :delete, data: { confirm: "Are you sure?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
</div>