<h1>My Appointments</h1>


<p>Your shareable link is <%= "https://#{request.host}/#{current_user.name.parameterize}-peoplebox/#{current_user.appointment_duration}min" %></p>

<p>
Define  your appointments duration

<%= form_with(url: appointment_duration_path) do |form| %>
  <%= form.select :duration, options_for_select(Appointment::OPTIONS) %>
  <%= form.submit %>
<% end %>

</p>

<table>
  <thead>
    <tr>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Duration</th>
      <th>Location</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.start_time.strftime("%m/%d/%Y%I:%M %p") %></td>
        <td><%= appointment.end_time.strftime("%m/%d/%Y%I:%M %p") %></td>
        <td><%= appointment.duration %> minutes</td>
        <td><%= appointment.location %></td>
        <td>
          <%= link_to "Show", appointment %>
          <%= link_to "Edit", edit_appointment_path(appointment) %>
          <%= link_to "Delete", appointment, method: :delete, data: { confirm: "Are you sure?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "New Appointment", new_appointment_path %>